<div class="flex mt-6 max-w-7xl mx-auto px-4 sm:px-6">
  <div class="flex-1 text-left">
    <h2 class="text-3xl font-extrabold text-green-700">Posts: </h2>
      <% for post in @categories.posts do %>
      <%= render partial: "post/post", collection: @categories.posts %>
      <% end %>
    </ul>
  </div>

</div>
