
<div class="flex mt-6 max-w-7xl mx-auto px-4 sm:px-6">
  <% if current_user.present? %>
  <div class="flex-1">
  <%= link_to "Mainpage", root_path, class:"whitespace-nowrap inline-flex items-center justify-center px-2  border border-transparent rounded-md shadow-sm text-based font-medium text-white bg-orange-600 hover:bg-orange-700 mr-4"%>
  <div class="flex-1">
      <% end %>
  <div class="flex-1">
      <h2 class="text-3xl font-extrabold text-green-700">Fresh Posts: </h2>
      <%= render partial: "posts/post", collection: @posts %>
  </div>
</div>
