<div>
<span class = "flex justify-center ">
<span class="mt-6  text-3xl font-extrabold text-green-700 mr-3">Hello </span>
<span class="mt-6  text-3xl font-extrabold text-orange-600"> <%= current_user.email %> </span> </span>
</div>

<div class="mt-6 mr-6">
<h2 class="text-right text-3xl font-extrabold text-green-700">User List: </h2>
<ul class="text-right">
<% for user in @users do %>
<li class="text-xl text-orange-600 ">
  <a href="#"> <%= user.email %> </a>
</li>
<% end %>
</ul>
</div>
